<nav class="navbar navbar-custom">
    <div class="container">
        <a class="navbar-brand me-2" href="">
            <img
              src="assets/images/logo-2.png"
              height="70"
              alt="MDB Logo"
              loading="lazy"
              style="margin-top: -1px;"
            />
        </a>
        <button mat-flat-button [matMenuTriggerFor]="menu">Login</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="'/login'">Students</button>
          <button mat-menu-item [routerLink]="'/login'">Lecturer</button>
        </mat-menu>
    </div>
  </nav>