<!-- <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <p class="text-white-50 mb-5">Masukkan Username dan password anda!</p>
  
                <div class="form-outline form-white mb-4">
                    <input type="text" id="typeUsername" class="form-control form-control-lg" placeholder="Username" [formControl]="username" />
                </div>
  
                <div class="form-outline form-white mb-4">
                    <input type="password" id="typePasswordX" class="form-control form-control-lg" placeholder="Password" [formControl]="password" />
                </div>
                <button class="btn btn-outline-light btn-lg px-5" type="submit" [routerLink]="'/dashboard'">Login</button>
  
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->


<section class="vh-100">
  <div class="container-fluid py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="assets/images/login.png"  id="img-fluid" class="h-auto mw-100" alt="" />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 border border-2 rounded-3">
        <form class="m-3">
          <h2 class="fw-bold mb-2 text-uppercase text-center">Login</h2>
          <!-- Username input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">Username</label>
            <input type="text" id="typeUsername" class="form-control form-control-lg" placeholder="Username" [formControl]="username" />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Password</label>
            <input type="password" id="typePasswordX" class="form-control form-control-lg" placeholder="Password" [formControl]="password" />
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="button" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;"[routerLink]="'/student'">Login</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>