<!-- Navigation Dashboard -->
<app-nav-dashboard></app-nav-dashboard>
<!-- Sidebar -->
<div class="container-fluid">
    <div class="row">
        <div class="col-2 px-1 sidebar-custom position-fixed" id="sticky-sidebar">
            <div class="text-center m-3">
              <img src="assets/images/profile.png" class="profile-custom rounded-circle mb-2" alt="..." />
              <div class="user-data text-center">Arifa Muhammad Syabani</div>
              <div class="user-data text-center mt-1">62702160072</div>
            </div>
            <div class="nav flex-column flex-nowrap vh-100 overflow-auto text-white p-2">
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Account
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <a mat-flat-button href="student">Edit Password</a>
                    </mat-expansion-panel>
                    <mat-expansion-panel hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Scores
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <a mat-flat-button href="student/score">Scores</a>
                    </mat-expansion-panel>
                    <mat-expansion-panel hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Courses
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <a mat-flat-button href="student/courses-registration">Courses Registration</a>
                      <a mat-flat-button href="student">Schedule</a>
                    </mat-expansion-panel>
                  </mat-accordion>
            </div>
        </div>

        <!-- Content -->
        <div class="col-10 offset-2 mt-2" id="main">
          <div class="breadcumb fs-2 mt-5 bold text-uppercase text-center">My Scores</div>
          <mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-4">
            <!-- Position Column -->
            <ng-container matColumnDef="subjectID">
              <mat-header-cell *matHeaderCellDef> Subject ID </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.subjectID}} </mat-cell>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="subjectName">
              <mat-header-cell *matHeaderCellDef> Subject Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.subjectName}} </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="period">
              <mat-header-cell *matHeaderCellDef> Period </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.period}} </mat-cell>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="quiz">
              <mat-header-cell *matHeaderCellDef> Quiz </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.quiz}} </mat-cell>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="midTest">
              <mat-header-cell *matHeaderCellDef> Mid Test </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.midTest}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="finalTest">
              <mat-header-cell *matHeaderCellDef> Final Test </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.finalTest}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="grade">
              <mat-header-cell *matHeaderCellDef> Grade </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.grade}} </mat-cell>
            </ng-container>
          
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
    </div>
    <div class="row mt-2">
      <app-footer-dashboard></app-footer-dashboard>
    </div>
</div>
